
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  background: lavender;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: 'Comfortaa', cursive;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: purple;
}


input {
	/* display: block; */
	
}

img {
	width: 200px;
	height: auto;
	
}

/* #profile {
	width: 200px;
	height: auto;

} */

.favourite {
	background-color: slategray;
	color: aliceblue;
}